html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(78, 72, 72, 0.43);
}
body h2{
  color: white;
}

.btn{
  transition: all .1s;
}
.btn:active{
  transform: scale(.9);
}

/* ---------------------- */
/* NAVBAR                 */
/* ---------------------- */

nav {
  background-color: rgb(29, 32, 42);
  color: #E5E5E8;
  height: 80px;
}
.nav-expanded{
  background-color: rgb(29, 32, 42);
  width:100%;
}

.navbar a {
  color: #E5E5E8;
}

.login {
  align-items: center;
}

.logout {
  align-items: center;
  display: none;
}

.logo {
  width: 100px;
  border-radius: 10px;;
}

/* ---------------------- */
/* BANNER                 */
/* ---------------------- */

.banner {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../assets/bookshelf.jpg");
}

.search-group {
  width: 100% !important;
}
.input-border{
  width: 100%;
  height: 25%;
  justify-content: center;
}
.custom-box{
  width: 70%;
  height: 40%;
  background-color: rgba(7, 8, 8, 0.7)
}

/* ---------------------------- */
/* TABLE                        */
/* ---------------------------- */
table{
  background-color: #EBE7E1 !important;
}
table td, table th {
  vertical-align: middle !important;
}

td img {
  width: 50px;
}

td .edit, td .delete {
  /* margin: 10px; */
}

.required{
  box-shadow: 1px 1px 5px 1px rgb(236,43,9);
  border: 2px solid rgb(236, 43, 9);
}

/* ---------------------- */
/* RATINGS                */
/* ---------------------- */
.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul>li.star {
  display: inline-block;
  padding-right: 0;
}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fa {
  font-size: .8em;
  /* Change the size of the stars */
  color: #CCC6C6;
  /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fa {
  color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fa {
  color: #FF652D;
}

/* -------------------------- */
/* CARD FLIPPER               */
/* -------------------------- */


/* entire container, keeps perspective */
.custom-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
.custom-container:hover .flipper,
.custom-container.hover .flipper {
	transform: rotateY(180deg);
}

.custom-container, .front, .back {
	width: 250px;
	height: 400px;
  margin: 10px;
}

/* flip speed goes here */
.flipper {
  max-height: 200px;
  max-width: 300px;
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	/* top: 0;
	left: 20px; */
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  background-color: #eaeaed;
	transform: rotateY(180deg);
  min-height: auto;
  overflow: scroll;

  /* margin: 20px; */
}

/* ---------------------------- */
/* CHECKMARK ANIMATION */
/* ---------------------------- */

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.circle {
  -webkit-animation: dash .8s ease-in-out;
  animation: dash .8s ease-in-out;
}

.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash .5s .5s ease-in-out forwards;
  animation: dash .5s .5s ease-in-out forwards;
}

.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .5s .5s ease-in-out forwards;
  animation: dash-check .5s .5s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

/* -------------------- */
/* Cross mark ANIMATION */
/* -------------------- */
.cross__svg {
  border-radius: 50%;
  display: block;
  height: 154px;
  margin: 4rem auto;
  stroke-width: 3;
  width: 154px;
}

.cross__circle {
  animation: 0.6s ease 0s normal forwards 1 running stroke;
  fill: none;
  margin: 0 auto;
  stroke: #e55454;
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
}

.cross__path {
  stroke: #e55454;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  transform-origin: 50% 50% 0;
}

.cross__path--right {
  animation: 0.3s ease 0.8s normal forwards 1 running stroke;
}

.cross__path--left {
  animation: 1s ease 0.8s normal forwards 1 running stroke;
}


@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

/* -------------------- */
/* Loader ANIMATION */
/* -------------------- */
.loader {
  height: 300px;
  background-color: rgba(26, 24, 24, 0.21);
  position: relative;
}
.loader::before {
  animation: 2s linear infinite loader;
  border: solid 10px #eee;
  border-left-color: #73AF55;
  border-radius: 100%;
  content: "";
  height: 100px;
  width: 100px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  will-change: transform;
}

@keyframes loader {
  0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
       transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
